{% extends 'base.html.twig' %}

{% block title %}Employees{% endblock %}

{% block body %}
	<h6 class="display-4">Employees</h6>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>EmpNo</th>
                <th>BirthDate</th>
                <th>Full name</th>
                <th>Gender</th>
                <th>HireDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.empNo }}</td>
                <td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d')|age : '' }} years old</td>
                <td>{{ employee.fullName }}</td>
                <td>{{ employee.gender|gender }}</td>
                <td>{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}</td>
	            <td>
		            <a href="{{ path('employee_show', {'empNo': employee.empNo}) }}" class="btn btn-success btn-sm " role="button"
		               aria-pressed="true">Show</a>
		            <a href="{{ path('employee_update', {'empNo': employee.empNo}) }}" class="btn btn-warning btn-sm " role="button"
		               aria-pressed="true">Update</a>
		            <a href="{{ path('employee_delete', {'empNo': employee.empNo}) }}" class="btn btn-danger btn-sm " role="button"
		               aria-pressed="true">Delete</a>
	            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<div class="d-flex">
		<div class="mr-auto p-2">
			<a href="{{ path('employee_create') }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Create new</a>
		</div>
	</div>
{% endblock %}
{% block javascripts %}

	{{ parent() }}

{% endblock %}