{% extends 'base.html.twig' %}

{% block title %}Department{% endblock %}

{% block body %}
	<div class="d-block position-relative float-right mt-3 ">
		<a href="{{ path('department_list') }}" title="Show Department" class="btn btn-sm btn-secondary " disabled="disabled"><i class="fa fa-home"></i>
			Back</a>
	</div>
	<h6 class="border-bottom border-gray pb-2 mb-2 display-4">Department show</h6>


	<table class="table">
        <tbody>
            <tr>
                <th>DeptNo</th>
                <td>{{ department.deptNo }}</td>
            </tr>
            <tr>
                <th>DeptName</th>
                <td>{{ department.deptName }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
